.mainWrap {
  background-color: #f9fafb;
  padding: 0;
}
.containerBusSearchWrapper {
  position: relative;

  // height: 50vh;
  // clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 77% 95%, 50% 100%, 23% 95%, 0 100%, 0% 35%, 0 0);
  // background-color: blue;
  margin-top: 16px;

  img {
    width: 100%;
    height: auto;
  }
}
.busSearchWrapper {
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  width: 85%;
  padding: 32px 64px;
  bottom: 200px;
  margin: auto;
  border: 1px solid rgb(231 231 231);
  border-radius: 16px;

  @media screen and (max-width: 786px) {
    bottom: 0;
    position: relative;
    padding: 8px 16px;
  }
}
